---
import Hr from "@components/Hr.astro";
import Socials from "@assets/Icons/Socials.astro";
import { CONTACT_DETAILS } from "@config";

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />

  <div id="footer-content">
    <div id="footer-contact-us">
      <h2>Contact Us</h2>
      <div id="footer-contact-information">
        <div id="footer-contact-information-detailed">
          <p>Office Address:</p>
          <p>15 Atchinson Street</p>
          <p>St Leonards, NSW 2065</p>
        </div>
        <div id="footer-contact-information-detailed">
          <a href=`mailto:${CONTACT_DETAILS.email}`
            ><p>
              E: {CONTACT_DETAILS.email}
            </p></a
          >
          <a href=`tel:${CONTACT_DETAILS.phone}`
            ><p>P: {CONTACT_DETAILS.phone}</p></a
          >
          <p>ABN: {CONTACT_DETAILS.abn}</p>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <Socials centered />
    </div>
  </div>
</footer>

<style>
  #footer-content {
    @apply flex flex-col items-center justify-between sm:flex-row sm:items-start;
    @apply py-6;
  }

  #footer-contact-us {
    @apply flex w-full flex-col pb-4 sm:w-fit sm:items-start;

    h2 {
      @apply pb-4 text-center text-2xl font-semibold sm:pb-2 sm:text-lg;
    }
  }

  #footer-contact-information {
    @apply grid grid-cols-2 sm:flex sm:flex-row sm:gap-8;
    @apply overflow-hidden truncate;

    p {
      @apply overflow-hidden text-ellipsis;
    }
  }

  #footer-contact-information-detailed {
    @apply flex flex-col gap-1;

    a {
      @apply hover:underline;
    }
  }

  footer {
    @apply mx-auto w-full max-w-4xl px-4 sm:pb-4;
  }

  .footer-wrapper {
    @apply flex flex-col items-center justify-between;
  }
</style>
